*,
html {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
/* ------------- HEADER -------------*/

.header {
  width: 100vw;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  background-color: #1d1d1d;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center∫;
  padding: 15px 30px;
}

.left {
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.center {
  flex: 1;
  display: none;
}

.rigth {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search {
  color: white;
}

/* ----------- FILTERS -----------*/

.filters-section {
  height: 70px;
  padding: 10px 30px;
  display: flex;
  margin-top: 15px;
}

.category {
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category > select {
  /* display: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: black;
}
.dropdown-content li > span {
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 500;
}

.filters-responsive {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filters-responsive > a {
  background-color: white;
  color: black;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border: 20px;
}

.filters-responsive > ul {
  color: black;
}
.filters-responsive > ul > li > a {
  color: black;
  font-size: 14px;
}
.filters-web {
  display: none;
}

.dropdown-toggle {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
}

.dropdown-toggle::after {
  display: none;
}

/* ------- PRODUCTS ----------- */

.products-section {
  height: auto;
  padding: 10px 30px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 30px;
  width: 100%;
}

.products-section > div {
  width: 100%;
}

.products-section > div > img {
  width: 100%;

  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  /* filter: grayscale(0) invert(0.1); */
}

.products-section > div > img:hover {
  transform: scale(1.02);
  opacity: 0.8;
  cursor: pointer;
}

.products-section > div > label {
  color: #1d1d1d;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}
.products-section > div > span > p {
  width: 100%;
}

.products-section > div > span > p:nth-child(1) {
  color: #5f5f5f;
  font-size: 12px;
}
.products-section > div > span > p:nth-child(2) {
  color: #008850;
  font-size: 12px;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (min-width: 550px) {
  .wrapper {
    justify-content: space-between;
    padding: 10px 35px;
  }

  .filters-section {
    padding: 10px 35px;
  }

  .category {
    width: 250px;
  }

  /* PRODUCTS */
  .products-section {
    flex-direction: row;
  }

  .products-section > div {
    width: 50%;
    padding: 5px;
  }

  .products-section > div > img {
    height: 250px;
  }
}

@media screen and (min-width: 800px) {
  .filters-responsive {
    display: none;
  }
  .filters-section {
    justify-content: space-between;
  }

  .category {
    width: 250px;
  }

  .filters-web {
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .filters-web > select {
    width: 60%;
  }

  .products-section > div {
    width: 33.3333%;
  }
}

@media screen and (min-width: 1100px) {
  .products-section > div {
    width: 25%;
  }
  .rigth-responsive {
    display: none;
  }
  .rigth {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .products-section > div {
    width: 20%;
  }
}
